# 此为注释 – 将被 Git 忽略
#*.a       # 忽略所有 .a 结尾的文件
#!lib.a    # 但 lib.a 除外
#build/    # 忽略 build/ 目录下的所有文件
#doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
target/
.idea/
.mvn/
out/
mvnw*
# General
.DS_Store
.AppleDouble
.LSOverride

~$*
.metadata/
RemoteSystemsTempFiles/
bin/
Servers/
.classpath
.project
*.DS_Store
.springBeans
.checkstyle
.settings/

/webapp
# File-based project format
*.ipr
*.iml
*.iws
# Directory-based project format
.idea/
# Additional for IntelliJ
.idea_modules/
rebel.xml
*.log
*.log.*

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#webbusiness/src/main/resources/
